<div class="row">
    <h3>{{weatherData.name}} ({{weatherData.zipCode}})</h3>
    <h4>Current conditions: {{weatherData.weather[0].main}}</h4>
    <h4>Temperatures today:</h4>
    <p>
        Current {{weatherData.main.temp | number: '1.0-0'}}
        <app-min-max [minTemperature]="weatherData.main.temp_min" [maxTemperature]="weatherData.main.temp_max"></app-min-max>
    </p>
    <p>
        <a href="/forecast/{{weatherData.zipCode}}">Show 5-day forecast for {{weatherData.name}}</a>
    </p>
</div>