/* Add application styles & imports to this file! */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

body {
  padding-top: 10px;
}

.icon {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 20px;
    top: -2px;
}